{
  "openapi": "3.1.0",
  "info": {
    "title": "GOES Health API",
    "description": "API for accessing outdoor health risk data.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.goes.health"
    }
  ],
  "paths": {
    "/v1/risks": {
      "get": {
        "description": "Returns a list of environmental health risks based on location and selected IDs.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Your API key for authentication.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "The latitude and longitude, formatted as `{latitude},{longitude}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "A comma-separated list of risk IDs.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of risks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "risks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Risk"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wildlife": {
      "get": {
        "description": "Returns a list of wildlife-related risks based on location and selected IDs.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Your API key for authentication.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "The latitude and longitude, formatted as `{latitude},{longitude}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "A comma-separated list of wildlife risk IDs.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of wildlife risks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responseId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A unique identifier for this response"
                    },
                    "risks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WildlifeRisk"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/feedback": {
      "post": {
        "description": "Submit feedback about the accuracy of a risk assessment response based on local knowledge or observations.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "responseId",
                  "feedback"
                ],
                "properties": {
                  "responseId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The UUID of the risk assessment response you're providing feedback about"
                  },
                  "feedback": {
                    "type": "string",
                    "description": "Your feedback about the accuracy of the risk assessment, including any local knowledge or observations that support your feedback",
                    "example": "I am a local park ranger and can confirm there is no poison sumac in this area. The nearest occurrence is over 50 miles away in a different ecosystem."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Your API key for authentication.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feedback submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Thank you for your feedback."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid responseId format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/overview": {
      "get": {
        "description": "Returns a comprehensive overview of all risks for a given location with a personalized AI summary.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Your API key for authentication.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "your_api_key_here"
          },
          {
            "name": "location",
            "in": "query",
            "description": "The latitude and longitude, formatted as `{latitude},{longitude}`.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "37.7749,-122.4194"
          },
          {
            "name": "length",
            "in": "query",
            "description": "Controls the length of the overview summary text.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "brief",
                "standard",
                "detailed"
              ],
              "default": "standard"
            },
            "example": "detailed"
          },
          {
            "name": "activity",
            "in": "query",
            "description": "The outdoor activity you plan to do (e.g., 'hiking', 'camping', 'skiing'). This helps personalize the risk summary.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "hiking"
          },
          {
            "name": "age",
            "in": "query",
            "description": "The age of the person doing the activity. Used to provide age-appropriate risk analysis when summarizing.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 35
          },
          {
            "name": "outdoor_experience",
            "in": "query",
            "description": "Experience level with outdoor activities, from 0 (beginner) to 4 (expert).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 4
            },
            "example": 2
          },
          {
            "name": "context",
            "in": "query",
            "description": "Any additional context that may be relevant for risk summarization",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "traveling with small children"
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "A comma-separated list of sections to exclude from the response. Available options: alerts, environment, wildlife, summary",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "alerts,wildlife"
          }
        ],
        "responses": {
          "200": {
            "description": "A comprehensive overview of all risks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "responseId",
                    "summary",
                    "risks"
                  ],
                  "properties": {
                    "responseId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A unique identifier for this response",
                    },
                    "summary": {
                      "type": "string",
                      "description": "An AI-generated summary paragraph that consolidates all risks and alerts, personalized to your activity and experience level",
                    },
                    "risks": {
                      "type": "array",
                      "description": "A comprehensive array of all risks from environmental and wildlife sources",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "title",
                          "source",
                          "tips"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier for the risk",
                            "example": "sunburn"
                          },
                          "title": {
                            "type": "string",
                            "description": "The human-readable title of the risk",
                            "example": "Sunburn"
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "environment",
                              "wildlife"
                            ],
                            "description": "The source of this risk",
                            "example": "environment"
                          },
                          "score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 3,
                            "description": "The prevalence score for wildlife risks (0: None, 1: Low, 2: Medium, 3: High). Only present when source is 'wildlife'.",
                            "example": 2
                          },
                          "tips": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "A collection of 1-2 sentence strings with tips and recommendations.",
                            "example": [
                              "Apply SPF 30+ sunscreen. Reapply every 2 hours or more frequently if sweating.",
                              "Wear a wide-brimmed hat and UV-protective clothing.",
                              "Try to avoid peak UV hours between 10 AM and 4 PM."
                            ]
                          }
                        }
                      }
                    },
                    "alerts": {
                      "type": "array",
                      "description": "An array of active NOAA weather alerts for the United States",
                      "items": {
                        "type": "object",
                        "required": [
                          "event",
                          "severity",
                          "senderName",
                          "headline",
                          "description",
                          "instruction"
                        ],
                        "properties": {
                          "event": {
                            "type": "string",
                            "description": "The type of weather event",
                            "example": "Severe Thunderstorm Warning"
                          },
                          "severity": {
                            "type": "string",
                            "description": "The severity level of the alert as specified by NOAA",
                            "example": "Severe"
                          },
                          "senderName": {
                            "type": "string",
                            "description": "The NWS office that issued the alert",
                            "example": "NWS Los Angeles CA"
                          },
                          "headline": {
                            "type": "string",
                            "description": "A complete headline of the alert including timing and issuing office",
                            "example": "Severe Thunderstorm Warning issued August 15 at 2:30PM PDT until August 15 at 5:00PM PDT by NWS Los Angeles CA"
                          },
                          "description": {
                            "type": "string",
                            "description": "Detailed description of the weather event, including specific hazards, source of information, and impacts",
                            "example": "At 2:30 PM PDT, a severe thunderstorm was located over the Santa Monica Mountains, moving east at 25 mph. HAZARD...60 mph wind gusts and penny size hail. SOURCE...Radar indicated."
                          },
                          "instruction": {
                            "type": "string",
                            "description": "Safety instructions and recommended actions for the public",
                            "example": "For your protection move to an interior room on the lowest floor of a building. Torrential rainfall is occurring with this storm, and may lead to flash flooding."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": 400,
                  "message": "Invalid location format"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Risk": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "tips": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WildlifeRisk": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the risk",
            "example": "bears"
          },
          "title": {
            "type": "string",
            "description": "The human-readable title of the risk",
            "example": "Bears"
          },
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3,
            "description": "The prevalence score (0: None, 1: Low, 2: Medium, 3: High)",
            "example": 2
          },
          "tips": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of safety tips related to this wildlife risk"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}